
.content-area {
	margin-top: 3.5rem;
}

.highlightable {
	display: inline-block;
	position: relative;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
}

.highlightable:hover {
	/*background-color: rgba(150,150,150,.7);*/
	-webkit-filter: grayscale(70%);
	-moz-filter: grayscale(70%);
         -o-filter: grayscale(70%);
        -ms-filter: grayscale(70%);
            filter: grayscale(70%);
    /*color: rgba(150,150,150,.7);*/
}

 .highlightable-text {
	visibility: hidden;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	/*top: 35%;*/
	top:10%;
	bottom: 0;
	margin: auto;
	color: white;
	letter-spacing: .1rem;
	font-size: 1.2rem;
}

.highlightable:hover .highlightable-text {
	visibility: visible;
}

/*.img-container {
	pointer-events: none;
}*/