.g-flex {
	display: flex;
	justify-content: space-around;
	margin: 2rem auto;
	padding: 0 2rem;
}


img {
	/*display: block;*/
}

.title-area{
	padding: 6rem;
}

.main-area {
	padding-bottom: 2rem;
}

table {
	padding: 1rem;
	table-layout: fixed;
	text-align: left;
	width: 80%;
	margin: auto;
}

td {
	padding: 1rem 3.5rem;
}

.links {
	padding: .5rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.links img {
	padding: .5rem;
}

.g-grid {
	display: grid;
	position: static;
	height: auto;
	width: 100%;
}